body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    padding: 10px 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    font-size: 18px;
    align-items: center;
    margin: 0px 150px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;    
}

.content-a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    margin: 0px 150px;
    gap: 50px;
    height: 215px;
}

.main-title-a {
    font-size: 48px;
    font-weight: bold;
    margin: -15px 0px;
}

.left-a, .right-a {
    width: 50%;
}

.img-placeholder {
    font-size: 18px;
    color: #e5e7eb;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
}
